Semestre3/hello
Semestre3/roberto
Semestre3/Repo_structure
Semestre3/EDA_project
Semestre3/roberto/hello
Semestre3/proyectos/Spacy_pruebas
Semestre3/proyectos/GPT_first_steps
Semestre3/Topicos/data_fabric
Semestre3/proyectos/ProyectoFinal_MCD-DP1
PracticaMCD